<div id='loginbar'>
  <%= link_to 'Log In or Sign Up here', new_user_session_path %>


</div>
<div>
  <h1>NZer0 Shopping Mall </h1>

<h2>Gadgets, Prototyping Boards, EV accessories we have it all! </h2>


Click here for Arduino products

Click here for Raspberry Pi products

Click here for Computer add ons and accessories.
</div>
